<!DOCTYPE html>
<html>
    <head>
        <title>THE DIARY OF A CEO</title>
    </head>
    <body style= "color:red;">
        <h1>laws of business</h1>
        <hr>
        <p>
            <em>i've been the CEO, founder, co-founder or board member of four industry-leading companies
            that collectively</em> - at their peaks - reached a cumulative valuation of more than $1 billion.
           <strong>i'm currently the founder of flight story, an innovative marketing agency; thirdweb,
            a software company; and an investment for my companies.</strong>
            <br>
            <ins>i'm an investor in more than 40 companies.</ins> <mark>i'm on the board of four companies,</mark> <cite>two of which
            are currently at</cite> <q>the forefront of their respective industries,</q> <s>and i'm 30 years old.</s>
            <sup>being the founder of two successful marketing groups</sup> <var>that have risen to the top of their
            industry, <code>within their market,</code> <pre>has meant that i spend much of my professional life</pre> in
            boardrooms <kbd>working with and advising the CEOs,</kbd> CMOs and leaders of the biggest brands
            in the world on how to do marketing and how to tell their story online; <sub>Uber, Apple,
            Coca-cola, Nike, Amazon, TikTok, Logitech,</sub> you name it - they have been my clients. <meter> </meter> <progress> </progress>
            <input> <textarea> </textarea> <button> </button> <select> </select> <fieldset> </fieldset> <input type="checkbox">
            <input type="radio"> <input type="submit">
        </p>
    </body>
</html>